<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <springProperty name="LOG_PATTERN" source="logging.pattern.console"
                    defaultValue="%clr(%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}){faint} %clr(%5p){highlight} %clr(${PID:- }){magenta} --- [%clr(${spring.application.name:-}){blue},%X{traceId:-},%X{spanId:-},%X{requestId:-},%X{correlationId:-}] [%clr(%t){faint}] %clr(%-40.40logger{39}){cyan} : %clr(%msg){faint}%n"/>

    <logger name="org.apache" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.postgresql" level="WARN"/>
    <logger name="org.redisson" level="WARN"/>
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.springframework.web" level="WARN"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.springframework.ai" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="io.netty" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="com.netflix.discovery" level="WARN"/>
    <logger name="io.swagger.v3" level="WARN"/>

    <root level="${log.level}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>