:root {
    --primary-color: #6DB33F;
    --dark-bg-color: #1a202c;
    --dark-text-color: #ffffff;
    --dark-secondary-bg-color: #2d3748;
    --light-bg-color: #f4f4f4;
    --light-text-color: #000000;
    --light-secondary-bg-color: #ffffff;
    --light-icon-color: #6C757D;
    --light-link-color: #0056b3;
    --dark-link-color: #66afe9;
    --light-value-color: #343a40;
    --dark-value-color: #b0bec5;
    --light-keyword-color: #d73a49;
    --dark-keyword-color: #ff79c6;
    --light-punctuation-color: #6a737d;
    --dark-punctuation-color: #6272a4;
}

body {
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.theme-dark, .theme-light {
    font-family: 'Roboto', sans-serif;
}

.theme-dark {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.theme-dark .navbar {
    background-color: var(--dark-secondary-bg-color);
    transition: background-color 0.3s;
}

.theme-dark .navbar-brand, .theme-dark .nav-link, .theme-dark .form-select, .theme-dark .language-icon {
    color: var(--dark-text-color);
}

.theme-dark .form-select {
    background-color: var(--dark-secondary-bg-color);
    border-color: var(--primary-color);
    color: var(--dark-text-color);
}

.theme-dark .form-select option {
    background-color: var(--dark-secondary-bg-color);
    color: var(--dark-text-color);
}

.theme-dark .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.theme-light {
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
}

.theme-light .navbar {
    background-color: var(--light-secondary-bg-color);
    transition: background-color 0.3s;
}

.theme-light .navbar-brand, .theme-light .nav-link, .theme-light .form-select, .theme-light {
    color: var(--light-text-color);
}

.theme-light .form-select {
    background-color: var(--light-secondary-bg-color);
    border-color: var(--primary-color);
    color: var(--light-text-color);
}

.theme-light .form-select option {
    background-color: var(--light-secondary-bg-color);
    color: var(--light-text-color);
}

.theme-light .navbar-toggler {
    border: none;
}

.theme-light .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath stroke="rgba%280, 0, 0, 1%29" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22"/%3E%3C/svg%3E');
}

.form-select {
    width: auto;
}

.content {
    margin-top: 60px;
    padding: 20px;
    background-color: inherit;
    color: inherit;
}

.form-container {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-end;
}

.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid var(--primary-color); /* Theme primary color */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: none;
}

.theme-dark .loader {
    border: 8px solid #2d3748; /* Dark grey */
    border-top: 8px solid var(--primary-color); /* Theme primary color */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 10px;
    }

    .form-select {
        width: 100%; /* Full width for mobile */
        margin-bottom: 10px; /* Space between selects */
    }

    .navbar-nav {
        text-align: center;
    }
}

.theme-toggle {
    display: inline-block;
    width: 50px;
    height: 25px;
    background-color: #ccc;
    border-radius: 25px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.theme-toggle::before {
    content: '';
    position: absolute;
    top: 2.5px;
    left: 2.5px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    transition: left 0.3s;
}

.theme-toggle.theme-dark {
    background-color: var(--primary-color);
}

.theme-toggle.theme-dark::before {
    left: 27.5px;
}

.theme-icon {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.theme-icon.sun {
    left: 5px;
}

.theme-icon.moon {
    right: 5px;
}

.language-dropdown {
    position: relative;
    display: inline-block;
}

.language-dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-secondary-bg-color);
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.language-dropdown-content a {
    color: var(--light-text-color);
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.language-dropdown-content a:hover {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}

.language-dropdown:hover .language-dropdown-content {
    display: block;
}

.language-icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--light-icon-color);
}

@media (max-width: 768px) {
    .form-container {
        justify-content: center;
    }

    .theme-toggle {
        margin-top: 10px;
    }
}

.api-select-container {
    display: flex;
    align-items: center;
    background-color: var(--light-secondary-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    padding: 5px;
    transition: background-color 0.3s, border-color 0.3s;
}

.theme-dark .api-select-container {
    background-color: var(--dark-secondary-bg-color);
    border-color: var(--primary-color);
}

.api-select-container i {
    margin-right: 8px;
    color: var(--light-icon-color);
    transition: color 0.3s;
}

.theme-dark .api-select-container i {
    color: var(--dark-text-color); /* Dark theme text color */
}

.form-select.api-select {
    border: none;
    background: none;
    color: inherit;
    font-size: 1rem;
    padding: 5px;
    width: auto;
    outline: none;
    transition: color 0.3s;
}

.theme-dark .form-select.api-select {
    color: var(--dark-text-color);
}

.api-select-container select {
    border: none;
    background: none;
    color: inherit;
    padding: 5px;
    outline: none;
    font-size: 1rem;
    appearance: none; /* Remove default select arrow */
}

a[href="https://redocly.com/redoc/"],
a[href="https://redocly.com/redoc/"] img {
    display: none !important;
}

.theme-light .redoc-wrap .right-panel,
.theme-light .redoc-wrap .right-panel .api-info,
.theme-light .redoc-wrap .right-panel .api-info h1,
.theme-light .redoc-wrap .right-panel .api-info p,
.theme-light .redoc-wrap .right-panel .api-info small,
.theme-light .redoc-wrap .right-panel .api-info .response-samples,
.theme-light .redoc-wrap .right-panel .api-info .response-samples .response-sample,
.theme-light .redoc-wrap .right-panel .api-info .response-samples .response-sample .tab-header,
.theme-light .redoc-wrap .right-panel .api-info .content-type,
.theme-light .redoc-wrap .redoc-json code,
.theme-light .redoc-wrap .redoc-json .token.string,
.theme-light .redoc-wrap .redoc-json .token.property,
.theme-light .redoc-wrap .redoc-json .token.number,
.theme-light .redoc-wrap .redoc-json .token.punctuation,
.theme-light .redoc-wrap .redoc-json .token.keyword,
.theme-light .redoc-wrap .redoc-json .token.ellipsis {
    color: var(--light-text-color) !important;
    font-family: 'Roboto', sans-serif;
}

.theme-light .redoc-wrap .redoc-json a {
    color: var(--light-link-color) !important;
}

.theme-light .redoc-wrap .redoc-json .token.string:not(a) {
    color: var(--light-value-color) !important;
}

.theme-light .redoc-wrap .redoc-json .token.keyword {
    color: var(--light-keyword-color) !important;
}

.theme-light .redoc-wrap .redoc-json .token.punctuation {
    color: var(--light-punctuation-color) !important;
}

.theme-light .redoc-wrap .right-panel {
    background-color: var(--light-secondary-bg-color) !important;
}

.theme-dark .redoc-wrap .right-panel,
.theme-dark .redoc-wrap .right-panel .api-info,
.theme-dark .redoc-wrap .right-panel .api-info h1,
.theme-dark .redoc-wrap .right-panel .api-info p,
.theme-dark .redoc-wrap .right-panel .api-info small,
.theme-dark .redoc-wrap .right-panel .api-info .response-samples,
.theme-dark .redoc-wrap .right-panel .api-info .response-samples .response-sample,
.theme-dark .redoc-wrap .right-panel .api-info .response-samples .response-sample .tab-header,
.theme-dark .redoc-wrap .right-panel .api-info .content-type,
.theme-dark .redoc-wrap .redoc-json code,
.theme-dark .redoc-wrap .redoc-json .token.string,
.theme-dark .redoc-wrap .redoc-json .token.property,
.theme-dark .redoc-wrap .redoc-json .token.number,
.theme-dark .redoc-wrap .redoc-json .token.punctuation,
.theme-dark .redoc-wrap .redoc-json .token.keyword,
.theme-dark .redoc-wrap .redoc-json .token.ellipsis {
    color: var(--dark-text-color) !important;
    font-family: 'Roboto', sans-serif;
}

.theme-dark .redoc-wrap .redoc-json a {
    color: var(--dark-link-color) !important;
}

.theme-dark .redoc-wrap .redoc-json .token.string:not(a) {
    color: var(--dark-value-color) !important;
}

.theme-dark .redoc-wrap .redoc-json .token.keyword {
    color: var(--dark-keyword-color) !important;
}

.theme-dark .redoc-wrap .redoc-json .token.punctuation {
    color: var(--dark-punctuation-color) !important;
}

.theme-dark .redoc-wrap .right-panel {
    background-color: var(--dark-secondary-bg-color) !important;
}

/* Styles for the Try It button */
.try-it-button {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 5px 10px; /* Adjusted padding for smaller button */
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.theme-dark .try-it-button {
    background-color: var(--primary-color);
    color: var(--dark-text-color);
}

.theme-light .try-it-button {
    background-color: var(--primary-color);
    color: var(--light-text-color);
}

.try-it-button:hover {
    background-color: #0056b3;
    color: #fff;
}

.theme-dark .try-it-button:hover {
    background-color: #66afe9;
    color: var(--dark-text-color);
}

/* Styles for the Try It form container */
.try-it-form-container {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px; /* Adjusted padding */
    background-color: var(--light-secondary-bg-color);
}

.theme-dark .try-it-form-container {
    background-color: var(--dark-secondary-bg-color);
    border-color: #444;
}

/* Styles for the heading in the Try It form */
.try-it-form-container h4 {
    margin-bottom: 10px; /* Adjusted margin */
}

/* Styles for the textarea in the Try It form */
.try-it-form-container textarea {
    width: 100%;
    height: 80px; /* Adjusted height */
    margin-bottom: 10px;
}

/* Styles for the submit button in the Try It form */
.try-it-form-container .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

.theme-dark .try-it-form-container .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

.theme-light .try-it-form-container .btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

/* Styles for the response area in the Try It form */
.response {
    margin-top: 15px; /* Adjusted margin */
}

.response .response-content {
    background-color: var(--light-bg-color);
    border: 1px solid #ddd;
    color: var(--light-text-color);
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Dark mode specific styles for response */
.theme-dark .response .response-content {
    background-color: var(--dark-bg-color);
    border: 1px solid #444;
    color: var(--dark-text-color);
    padding: 15px;
    border-radius: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 0.9em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Styles for the query parameters section in the Try It form */
.try-it-form-container .query-params {
    width: 100%;
    height: 80px; /* Adjusted height */
    margin-bottom: 10px;
}

/* Styles for the small helper text */
.form-text {
    margin-top: -10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    color: #6c757d;
}